body{
    background:/*linear-gradient(45deg, rgba(255, 255, 255, .8), rgba(215, 240, 250, .5)),*/ url("../images/background.jpg") no-repeat;
    background-size:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

*,
:before,
:after{
    box-sizing: border-box;
}

/*Fonts
font-family: 'Fredoka One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Merienda', cursive;*/

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "menu"
                         "main_section"
                         "catalog_btn"
                         "images"
                         "about"
                         "request";
}

menu{
    grid-area:menu;
    background:rgba(1, 179, 158, 0.60);
    margin-top:0;
    margin-bottom:30px;
    padding-left:0;
}
.header_menu{
    display:flex;
    width:100%;
    max-width:1400px;
    height:50px;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.header_logo--text{
    font-family: 'Fredoka One', cursive;
   
}
 a{
    font-family: 'Roboto', sans-serif;
     text-decoration: none;
     font-size: 16px;
     color:#fff;
     font-weight: bold;
 }
 a:hover{
    color:#07665E;
 }
 .main_section{
     height:50vh;
     width:100%;
     max-width:1400px;
     margin:0 auto;
     display:flex;
     justify-content: space-around;
 }
 .text_block{
     width:70%;
 }
 .main_text{
    font-family: 'Roboto', sans-serif;
    /*color:#01B39E;*/
   /*color:#D93A02*/
   color:#07665e;
    font-size:80px;
    font-weight:bold;
    line-height: 2;
    
 }
 .order{
     width:200px;
     height:300px;
     background:rgba(1, 179, 158, 0.80);
     margin:0 auto;
     border-radius:5px;
   
 }
 .order_form{
     padding:10px;
 }
 .order_form p{
     font-size:20px;
     text-align: center;
     font-weight:bold;

 }
.inputs{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.btn{
    /*background:#D93A02;*/
    background:#07665E;
    border-radius:20px;
    padding:10px;
    color:#fff;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}
.images{
    grid-area:images;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    max-width:1400px;
    height:20vh;
    margin:0 auto;
    margin-bottom:80px; 
}
img{
    width:300px;
    height:200px;
    outline:10px solid #fff;
    
}
.country{
    position:relative;
    z-index:0;
}
.images h2{
    position:absolute;
    z-index:1;
    top:80%;
    right:0%;
    font-family: 'Merienda', cursive;
}
#catalog_btn{
    grid-area:catalog_btn;
    display:block;
    background:#07665E;
    border-radius:20px;
    padding:10px;
    color:#fff;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin:0 auto;
    margin-bottom:50px;
}
.about{
    grid-area:about;
    width:80%;
    height:350px;
    margin:0 auto;
    background:rgba(1, 179, 158, 0.80);
    margin-bottom:30px;
}
.about h3{
    margin-top:20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom:50px;
}
.about_block{
    display:flex;
    justify-content:space-around;
}
.about_block_item{
    width:15%;
}
.about_block h4{
    font-family: 'Roboto', sans-serif;
    margin-bottom:20px;
    text-align: center;
}
.about_block p{
    font-family: 'Roboto', sans-serif;
    margin-bottom:20px;
    text-align: center;
    font-size:15px;
}
.about_block i{
    display:flex;
    font-size:80px;
    justify-content: center;
    
}

.request{
    grid-area:request;
    width:200px;
    height:120px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
    margin-bottom:30px;
}
.request h3{
    text-align: center;
    color:#07665e;
}
.request input{
    display:block;
    width:120px;
    margin:0 auto;
}
footer{
    background:rgba(1, 179, 158, 0.60);
    height:50px;
    font-family: 'Roboto', sans-serif;
}


@media(max-width:1230px){
    .about{
        height:400px;
    }
    .images{
        margin-bottom:300px;
    }
    body{
        background-size:cover;
    }
}
@media(max-width:990px){
    .main_text{
        font-size:60px;
    }
    .images{
        gap:30px;
        margin-bottom:350px;
    }
}
@media(max-width:770px){
    body{
        background-size:cover;
    }
   
    .main_text{
        font-size:40px;
    }
    .main_section{
        height:35vh;
    }
    #catalog_btn{
        margin-top:100px;
    }
    .images{
        height:45vh;
        margin-bottom:150px;
    }
    .about{
        height:380px;
    }
    .about h3{
        font-size:18px;
    }
    .about h4{
        font-size:14px;
    }
    .about_block i{
        font-size:35px;
        margin-top:30px;
    }
    #fourth_Item{
        margin-top:-6px;
    }
    .about_block p{
        font-size:14px;
    }
}
@media(max-width:575px){
    .header_menu{
        justify-content: space-around;
    }
    .header_logo--text{
        font-size:15px;
    }
    .phone i{
        font-size:15px;
    }
    .phone_number{
        font-size:15px;
    }
    .main_section{
        height:50vh;
        flex-direction:column;
        align-items: center;
    }
    .main_text{
        font-size:30px;
    }

 
    img{
        width:290px;
        height:190px;
    }
    .images{
        height:100vh;
        margin-bottom:200px;
    }
    #catalog_btn{
        margin-top:80px;
    }
    .about{
        width:95vw;
        height:250px;
    }
    .about h3{
        font-size:15px;
        margin-bottom:15px;
    }
    .about h4{
        font-size:9px;
    }
    .about_block i{
        font-size:20px;
        margin-top:30px;
    }
    .about_block p{
        font-size:9px;
    }
    #fourth_Item{
        margin-top:-2px;
    }
    footer{
        width:100%;
        height:50px;
        font-family: 'Roboto', sans-serif;
    }
    footer h4{
        font-size:11px;
    }
    a{
        font-size:11px;
    }
}