body{
    background:url("../images/background.jpg") no-repeat;
    background-size:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

*,
:before,
:after{
    box-sizing: border-box;
}

/*Fonts
font-family: 'Fredoka One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Merienda', cursive;*/

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "menu"
                         "main_section"
                         "catalog_btn"
                         "images"
                         "about";
}

menu{
    grid-area:menu;
    background:rgba(1, 179, 158, 0.60);
    margin-top:0;
    margin-bottom:30px;  
}
.header_menu{
    display:flex;
    width:100%;
    max-width:1400px;
    height:50px;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.header_logo--text{
    font-family: 'Fredoka One', cursive;
   
}
 a{
    font-family: 'Roboto', sans-serif;
     text-decoration: none;
     font-size: 16px;
     color:#fff;
     font-weight: bold;
 }
 .main_section{
     height:50vh;
     width:100%;
     max-width:1400px;
     margin:0 auto;
     display:flex;
     justify-content: space-around;
 }
 .text_block{
     width:70%;
 }
 .main_text{
    font-family: 'Merienda', cursive;
    /*color:#01B39E;*/
   /*color:#D93A02*/
   color:#07665e;
    font-size:80px;
    font-weight:bold;
    line-height: 2;
    
 }
 .order{
     width:200px;
     height:300px;
     background:rgba(1, 179, 158, 0.80);
     margin:0 auto;
     border-radius:5px;
   
 }
 .order_form{
     padding:10px;
 }
 .order_form p{
     font-size:20px;
     text-align: center;
     font-weight:bold;

 }
.inputs{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.btn{
    /*background:#D93A02;*/
    background:#07665E;
    border-radius:20px;
    padding:10px;
    color:#fff;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
}
.images{
    grid-area:images;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    max-width:1400px;
    height:20vh;
    margin:0 auto;
    margin-bottom:100px; 
}
img{
    width:300px;
    outline:10px solid #fff;
}
#catalog_btn{
    grid-area:catalog_btn;
    background:#07665E;
    border-radius:20px;
    padding:10px;
    color:#fff;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin:0 auto;
    margin-bottom:50px;
}
.about{
    grid-area:about;
    width:80%;
    height:380px;
    margin:0 auto;
    background:rgba(1, 179, 158, 0.80);
    margin-bottom:50px;
}
.about h3{
    margin-top:50px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-bottom:50px;
}
.about_block{
    display:flex;
    justify-content:space-around;
}
.about_block_item{
    width:15%;
}
.about_block h4{
    font-family: 'Fredoka One', cursive;
    margin-bottom:20px;
    text-align: center;
}
.about_block p{
    font-family: 'Fredoka One', cursive;
    margin-bottom:20px;
    text-align: center;
    font-size:15px;
}
.about_block i{
    display:flex;
    font-size:80px;
    justify-content: center;
    
}

.request{
    width:200px;
    height:100px;
    display:flex;
    flex-direction: column;
    margin:0 auto;
}
